.cont-page-login{
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(66, 56, 44) 100%);
}
/* responsive */
@media screen and (max-width: 700px) {
    .cont-login-clasico-page{
        width: 95%;
    }
}