.cont-filtros{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.titulo-filtros{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-filtros > h2 {
    font-size: 18px;
    text-align: center;
}
.cont-filtros-map{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}