.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: transparent;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
}
/* Estilos cuando el usuario hace scroll */
.scrolled {
    background-image: url('../../Images/Textura-04.jpg');
    background-size: cover;
    background-position: center;
    transform: translateY(-100%);
    animation: slideDown 0.4s forwards;
}
/* Cambio de color en scroll */
.scrolled {
    color: white;
}
/* Animación de entrada */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
